parameters:
    level: 8
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []

    paths:
        - src/alemiz/sga/
    autoload_directories:
        - src/alemiz/sga/
    excludes_analyse:
        - vendor