parameters:
    level: 8
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []

    paths:
        - /source/src/
    autoload_files:
            - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - src/alemiz/sga/
    excludes_analyse:
        - /source/vendor
        - /source/src/tests